<div class="controls-container">
  @if ((recordingState$ | async) === 'processing') {
    <ion-spinner name="crescent" color="primary" />
  } @else {
    <ion-fab-button
      size="small"
      [color]="(recordingState$ | async) === 'recording' ? 'warning' : 'danger'"
      (click)="onRecordClick()"
      [matTooltip]="(recordingState$ | async) === 'recording' ? 'Stop recording' : 'Start recording'"
      [matTooltipPosition]="'above'">
      <ion-icon [name]="(recordingState$ | async) === 'recording' ? 'stop-outline' : 'ellipse-outline'" />
    </ion-fab-button>
  }
</div>
