ion-content {
  --background: #1d4380;
}

ion-header {
  ion-toolbar {
    --background: #1d4380;
    --color: white;
  }

  .main-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .sub-title {
    font-size: 18px;
    text-align: center;
  }
}
